# Node.js
/node_modules
npm-debug.log
.env

# React Native
/app/ios/build
/app/android/build
/app/android/.gradle
/app/android/app/build
/app/android/app/.cxx
/app/android/app/.idea
/app/android/local.properties
/app/android/key.jks
.xcode.env.local

# Backend Nodejs,Expressjs
/backend/node_modules

# Extention (React)
/extention/dist
/extention/node_modules

# macOS (if you're a Mac user)
.DS_Store

# VS Code
.vscode/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
README.local.md
